/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #121212;
    color: #fff;
    line-height: 1.6;
}

/* Header Styles */
header {
    background-color: #1f1f1f;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #00e676;
}

header nav a {
    color: #ccc;
    margin: 0 1rem;
    text-decoration: none;
    position: relative;
}

header nav a:hover {
    color: #fff;
}

header .btn-login {
    background-color: #00e676;
    color: #000;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

header .btn-login:hover {
    background-color: #00c853;
}

/* Hero Section */
.hero {
    height: 100vh;
    background:url('https://images.unsplash.com/photo-1551368998-d349c755c74c?q=80&w=1738&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: hsl(151, 100%, 45%);
}

.hero p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: darkseagreen;
    background-color: rgba(0, 0, 0, 0.8); /* Black background with some transparency */
    padding: 0.8rem 0.8rem;
    border: 2px solid #00e676; /* Green border for contrast */
    border-radius: 10px; /* Rounded corners */
    display: inline-block; /* Shrink to fit content */
    animation: fadeInUp 1.5s ease-in-out;
   
}

.hero .btn-primary {
    background-color: hsl(151, 100%, 45%);
    color: #000;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.hero .btn-primary:hover {
    background-color: #00c853;
}

/* Games Section */
.games {
    background-color: #1f1f1f;
    padding: 4rem 2rem;
    text-align: center;
}

.games h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.game-card {
    display: inline-block;
    background-color: #333;
    margin: 1rem;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s;
}

.game-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.game-card h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #00e676;
}

.game-card p {
    padding: 0 1rem 1rem;
    color: #ccc;
}

.game-card:hover {
    transform: scale(1.05);
}

/* Footer Styles */
footer {
    background-color: #1f1f1f;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
